<p>fejejfiefief</p>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        <h2>{{playlist.title}}</h2>
        <p>{{playlist.title}} id is {{playlist.id}}</p>
      </ion-item>
      <!-- <ion-item class="item item-text-wrap" ng-repeat="(key, item) in items" href="#/app/playlists/{{key}}">
        <h2>{{item.scientificName}} {{item.authorship}}</h2>
        <p>{{item.accordingTo}}</p>
        <p>{{item.descriptions[0].description}}</p>
      </ion-item> -->

    </ion-list>
